button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  font-size: xx-large;
  margin: 0;
  background-color: #e0e0e0;
}

.xPlayer {
  background-color: #ff1654;
}
.oPlayer {
  background-color: #f3ffbd;
}
